<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="container">

        <div class="panel panel-default" data-ng-controller="PokemonMenuCtrl">
            <div class="panel-body">

                <!-- <div class="btn-group" role="group">
                    <a class="btn btn-default" data-ui-sref="list"">Список</a>
                    <a class="btn btn-default" data-ui-sref="createNewPokemon">Добавить нового</a>
                </div> -->

                <div class="btn-group" role="group" ng-repeat="menuItem in menuItems">
                    <a class="btn btn-default" ui-sref-active="btn-primary" data-ui-sref="{{menuItem.sref}}">{{menuItem.name}}</a>
                </div>

            </div>
        </div>

        <shopping-cart-component></shopping-cart-component>

        <ui-view></ui-view>

    </div>

    <!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="app.js"></script>
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="PokemonDetail/PokemonDetailCtrl.js"></script>
    <script src="PokemonList/PokemonListCtrl.js"></script>
    <script src="CreatePokemon/CreatePokemonCtrl.js"></script>
    <script src="PokemonsService/PokemonsService.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>

    <script src="ShoppingCartStore/ShoppingCartStore.js"></script>
    <script src="ShoppingCartComponent/ShoppingCartComponent.js"></script>

    <script src="MyAccount/MyAccountCtrl.js"></script>
    <script src="MyAccountService/MyAccountService.js"></script>
</body>

</html>