<style>
    .ng-dirty.ng-invalid {
        border-color: #FA787E;
    }

    .ng-dirty.ng-valid {
        border-color: #78FA89;
    }

</style>

<div data-ng-show="vm.stored">
    Имя: {{vm.newAccount.name}}
    <p>email: {{vm.newAccount.email}}
    <p>phone: {{vm.newAccount.phone}}
</div>

<form name="vm.accountForm" novalidate data-ng-show="!vm.stored">
    <div class="form-group">
        <label>Имя</label>
        <input class="form-control" data-ng-model="vm.newAccount.name" type="text" placeholder="Имя" ng-minlength="3" name="accountName" required>
    </div>

    <div ng-messages="vm.accountForm.accountName.$error" ng-if="vm.accountForm.accountName.$dirty">

        <div ng-message="required" class="alert alert-danger" role="alert">Имя обязательно для заполнения</div>
        <div ng-message="minlength" class="alert alert-danger" role="alert">Имя слишком короткое</div>

    </div>

    <div class="form-group">
        <label>Email</label>
        <input class="form-control" data-ng-model="vm.newAccount.email" type="email" placeholder="email" name="accountEmail" required>
    </div>

    <div role="alert" ng-messages="vm.accountForm.accountEmail.$error" ng-if="vm.accountForm.accountEmail.$dirty">
        <div ng-message="required" class="alert alert-danger">Поле 'email' обязательно для заполнения</div>
    </div>

    <div class="form-group">
        <label>Телефон</label>
        <input class="form-control" data-ng-model="vm.newAccount.phone" type="text" placeholder="телефон" data-ng-pattern="/^\+?(\d)+$/" name="accountPhone">
    </div>

    <div role="alert" ng-messages="vm.accountForm.accountPhone.$error" ng-if="vm.accountForm.accountPhone.$dirty">
        <div ng-message="pattern" class="alert alert-danger">Введен некорректный телефон (допустимы цифры и знак плюс)</div>
    </div>

    <button type="submit" class="btn btn-default" data-ng-click="vm.addAccount(vm.newAccount)" data-ng-disabled="vm.accountForm.$invalid">Добавить
    </button>

    <!--

    <pre>accountForm.accountName.$error = {{ vm.accountForm.accountName.$error | json }}</pre>
    <pre>accountForm.accountEmail.$error = {{ vm.accountForm.accountEmail.$error | json }}</pre>
    <pre>accountForm.accountEmail.$error = {{ vm.accountForm.accountPhone.$error | json }}</pre>

    -->

</form>
